body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 1rem;
    color: #444;
    line-height: 1.3;
}


nav {
    display: flex;
    justify-content: space-between;
    background: #4527a0;
    color: #fff;
    align-items: center;
}

.logo h1 {
    margin: 0;
    padding-left: 2rem;
}

.top-menu {
    display: flex;
    list-style: none;
    margin: 0;
}
.top-menu > li {
    padding: 1.5rem;
    border-left: 1px solid #5530c6;
    transition: .5s;
}
.top-menu > li:hover {
    background: #7046ed;
}
.top-menu > li > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 500px) {
    .menu-wrapper {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    nav {
        display: none;
    }    

    .menu-wrapper {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
    }

    .menu-wrapper li {
        padding: 1.5rem 1rem;
        text-align: center;
        width: 25vw;
        background: #ede7f6;
        border-right: 1px solid rgba(209, 196, 233, 0.5);
        transition: 200ms;
    }
    .menu-wrapper li:hover {
        background: #d1c4e9;
    }
    .menu-wrapper li.active, .menu-wrapper li.active a {
        background: #4527a0;
        color: #fff;
    }
    .menu-wrapper li i {
        font-size: 1.5rem;
    }


}